<module>
	<rawname>donotdisturb</rawname>
	<repo>standard</repo>
	<name>Do-Not-Disturb (DND)</name>
	<version>2.11.0.1</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<changelog>
		*2.11.0.1* #6857 related
		*2.11.0.0* bump version
		*2.10.0.1* #5478 
		*2.10.0.0* new version changes
		*2.9.0.1* #4758
		*2.9.0.0* #4651
	</changelog>
	<description>Provides donotdisturb featurecodes</description>
	<category>Applications</category>
	<supported>
		<version>2.10</version>
	</supported>
	<location>release/2.11/donotdisturb-2.11.0.1.tgz</location>
	<md5sum>e37a04d5dc7652b43f9781f56be5ed8b</md5sum>
</module>
