<module>
	<rawname>donotdisturb</rawname>
	<name>Do-Not-Disturb (DND)</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Call Management</category>
	<location>release/donotdisturb-1.0.tgz</location>
	<info>http://freepbx.org/wiki/DND</info>
	<md5sum>0443091bbd4e03a99e4efaae9af8c55a</md5sum>
</module>
