<module>
	<rawname>donotdisturb</rawname>
	<name>Do-Not-Disturb (DND)</name>
	<version>1.0.2</version>
	<changelog>
		*1.0.2* changed ${CALLERID(number)} to ${AMPUSER} to accomodate CID number masquerading
		*1.0.1* First release for 2.2
	</changelog>
	<type>setup</type>
	<category>Provides a Feature Code</category>
	<location>release//2.2/donotdisturb-1.0.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<md5sum>5c1128b0a2c38b0d8aaff289fa5cb1d4</md5sum>
</module>
